* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} 
body{
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #fffff0;
}


.wrapper {
    width: 100%;
    /* overflow: hidden; */
}

.inner-wrapper {
    max-width: 600px;
    width: 100%;
    margin: auto;
    position: relative;
    padding: 15px;
}

.points-container {
    display: block;
    text-align: center;
}

.points-border {
    display: inline-block;
    border: dashed 3px #0c2b57;
    color: #0c2b57;
    margin: auto;
    padding: 8px;
}

.points-border h2 {
    letter-spacing: 2px;
}


text {
    text-transform: uppercase;
    pointer-events: none;
    font-size: 200%;
    font-weight: 700;
}

.instructions {
    margin: 25px auto;
    text-align: center;
    color: #0c2b57;
}

#chart {
    position: relative;
    margin: 2vh auto;
    width: 100%;
    height: 565px;
    cursor: pointer;
    box-shadow: -15px 15px 0px #555;
    border-radius:50%;
    background-color:#777;
    border:solid 10px #777;
    display:inline-block;
    padding:0px;
}  
 
.articles-panel {
    display: none;
    position: fixed;
    max-width: 800px;
    width: 100vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    margin-top: -40vh;
    margin-left: -400px;
    padding-top: 10vh;
    backface-visibility: hidden;
}


.btn-panel {
    margin-bottom: 25px;
    display: block;
    border: #0c2b57;
    width: 100%;
    text-align: right;
}


.btn-panel button {
    cursor: pointer;
    font-size: 20px;
    border-radius: 30px;
    background-color:#fff;
    padding: 15px;
    display:inline-block;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    text-transform: uppercase;
    margin-left:10px;
}

.selected-question {
    text-align: center;
    text-transform: uppercase;
}

.selected-articles {
    display: none;
}

.selected-articles h4 {
    text-transform: uppercase;
    padding: 5px;
}

#question {
    position: relative;
    min-height: 100px;
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    background-color: #0c2b57;
    color: #fff;
}

#question ul {
    margin: 0px;
    padding: 0px;
    
}

#question ul li {
    list-style: none;
    padding: 10px 5px;
    color: #fff;
    font-size: 140%;
    text-transform: normal;
    text-decoration: none;
    cursor: pointer; 
}


#question li:hover {
    background-color: #5a9ddc;
}

.clearfix{
    clear:both;
}
.article-title{
    width:80%;
    float:left;
    display:block;
}
.pts-ind{
    width:20%;
    float:left;
    text-align:right;
    display:block;
    font-weight:700;
}
.gold{
    color:#e3d53a;
}

.news-frame {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    padding: 5vh;
    display: none;
}

.news-wrapper {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: auto;
}

.news-wrapper .btn-panel {
    position:fixed;
    z-index: 1000; 
    display: block;
    border: #0c2b57;
    width: 100%; 
    text-align: right;
    max-width: 1366px;
    left:50%;
    top:3vh;
    margin-left:-683px;
   
}


#news-container{
    position: fixed;
    max-width: 1366px;
    width: 100%;
    height: 78vh;
    top:10vh;
    left:50%;
    background-color: #777;
    border-radius: 10px;
    margin: auto;
    margin-left:-683px;
    padding: 10px; 
    transition: all 500ms; 

}
#news-container object {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
 


@media screen and (max-width: 1366px) {

    #news-container{
         
        margin-left:-50%; 
    
    }

.news-wrapper .btn-panel {
        margin-left:-50%; 
    }
}

@media screen and (max-width: 420px) {
    .wrapper{
        overflow: hidden;
    }
    text {
        font-size: 100%; 
    }

    .articles-panel {
        padding: 10px;
    }

    .news-wrapper .btn-panel {
        
        top:2vh;
        padding-right:15px;
    } 
    .btn-panel .closeBtn , .btn-panel .fullscreen-toggle {
        font-size: 16px;
        padding: 10px;
    }

    #question ul li {

        font-size: 130%;

    }

    #chart {
        height: 400px;
    }

    .articles-panel {
        margin-left: -50vw;
    }

    .news-frame {
        padding: 15px;
    }

    #news-container object {
        overflow-y: scroll;
    }
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    ::-webkit-scrollbar:vertical {
        width: 12px;
    }
    
    #chart {
        height: 340px;
        box-shadow: -5px 5px 0px #555;
        
    }
}

@media screen and (min-height :737px) and (max-height: 813px) {
    /* #chart {
        height: 500px;
    } */

    .news-container {
        height: 85vh;
    }

    #news-container object {
        height: 82vh;
        overflow-y: scroll;
    }
}